@keyframes move {
  0% {
    background-position: 25px -25px;
  }
  10% {
    background-position: -250px 250px;
  }
  20% {
    background-position: -70px 180px;
  }
  30% {
    background-position: 35px 12px;
  }
  40% {
    background-position: -40px 500px;
  }
  50% {
    background-position: 140px -300px;
  }
  60% {
    background-position: -180px 20px;
  }
  70% {
    background-position: 20px 435px;
  }
  80% {
    background-position: 100px -250px;
  }
  90% {
    background-position: 250px 150px;
  }
  95% {
    background-position: 50px 50px;
  }
  98% {
    background-position: -25px 25px;
  }
  99% {
    background-position: 5px -5px;
  }
  100% {
    background-position: 1px 1px;
  }
}

@keyframes download-button-swag {
  0% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
    margin-left: -60%;
    border: 2px red solid;
  }
  10% {
    transform: scaleX(0.4) scaleY(0.4);
    border-color: orange;
  }
  20% {
    border-color: yellow;
  }
  30% {
    border-color: green;
  }
  40% {
    border-color: blue;
  }
  50% {
    transform: scaleX(1.4) scaleY(1.25);
    border-color: indigo;
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(720deg);
    margin-left: 40%;
    border: 10px violet solid;
  }
}

@keyframes widen {
  0% {
    width: 50%;
  }
  100% {
    width: 500%;
  }
}

@keyframes vibrate {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.008);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.008);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.008);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.008);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.008);
  }
  100% {
    transform: scale(1);
  }
}
