@keyframes move {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1200px 1200px;
  }
}

@keyframes download-button-swag {
  0% {
    transform: scaleX(1) scaleY(1) rotate(0deg);
    margin-left: -60%;
    border: 2px red solid;
  }
  10% {
    transform: scaleX(0.4) scaleY(0.4);
    border-color: orange;
  }
  20% {
    border-color: yellow;
  }
  30% {
    border-color: green;
  }
  40% {
    border-color: blue;
  }
  50% {
    transform: scaleX(1.4) scaleY(1.25);
    border-color: indigo;
  }
  100% {
    transform: scaleX(1) scaleY(1) rotate(720deg);
    margin-left: 40%;
    border: 10px violet solid;
  }
}

@keyframes widen {
  0% {
    width: 50%;
  }
  100% {
    width: 500%;
  }
}

@keyframes vibrate {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.008);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.008);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.008);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.008);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.008);
  }
  100% {
    transform: scale(1);
  }
}
