header {
  color: #6b5c14;
}

body {
  background-color: #544b20;
  /* add files/img/tux.gif as a repeating background image at size 100px */
  /* it will also slowly move to the bottom right infinitely linearly */
  background-image: url('../img/tux.gif');
  background-size: 100px;
  background-repeat: repeat;
  background-attachment: fixed;
  animation: move 2.5s infinite linear;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes move {
  0% {
    background-position: 25px -25px;
  }
  10% {
    background-position: -250px 250px;
  }
  20% {
    background-position: -70px 180px;
  }
  30% {
    background-position: 35px 12px;
  }
  40% {
    background-position: -40px 500px;
  }
  50% {
    background-position: 140px -300px;
  }
  60% {
    background-position: -180px 20px;
  }
  70% {
    background-position: 20px 435px;
  }
  80% {
    background-position: 100px -250px;
  }
  90% {
    background-position: 250px 150px;
  }
  95% {
    background-position: 50px 50px;
  }
  98% {
    background-position: -25px 25px;
  }
  99% {
    background-position: 5px -5px;
  }
  100% {
    background-position: 1px 1px;
  }
}

@keyframes margin-move {
  0% {
    margin-left: -60%;
    border: 5px #42a213 solid;
  }
  100% {
    margin-left: 60%;
    border: 10px #b923ad solid;
  }
}

.main-content {
  margin: auto;
  width: 50vw;
  height: fit-content;
  margin-bottom: 200px;
}

.main-content p {
  margin: 0 0 0 0;
  font-size: 22px;
}

.main-content .content-item {
  background-color: #5f521575;
}

.main-content .content-item .graph-img {
  width: 95%;
  border-style: ridge;
  border-width: 10px;
  border-color: hotpink;
}

.main-content .graph .graph-download-button {
  width: 20vw;
}

.main-content .graph .graph-download-button img {
  width: 20vw;
  animation: margin-move 2.5s infinite linear;
  animation-direction: alternate;
}


.main-content .graph .graph-download-button:hover {
  animation: margin-move 2.5s infinite linear;
  animation-direction: alternate-reverse;
}

.main-content .graph .graph-download-button img {
  width: inherit;
}

.main-content .cool-fact {
  margin: auto;
  margin-top: 20px;
  border: black 2px solid;
  border-radius: 15px;
  background-color: #b3980fcb;
  padding: 10px;
  width: fit-content;
}

.main-content .cool-fact h3 {
  margin: 0;
  margin-bottom: 6px;
}

a img {
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: #5f521575;
  text-align: center;
}