header {
  color: #6b5c14;
}

body {
  background-color: #544b20;
  /* background-image: url('../img/wheat_field.jpg'); */
  /* background-size: 100% auto; */
  background: url('../img/wheat_field.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  margin: auto;
  width: 50vw;
  height: fit-content;
  margin-bottom: 200px;
}

.main-content p {
  margin: 0 0 0 0;
  font-size: 22px;
}

.main-content .content-item {
  background-color: #5f521575;
}

.main-content .content-item img {
  width: 100%;
}

.main-content .cool-fact {
  margin: auto;
  margin-top: 20px;
  border: black 2px solid;
  border-radius: 15px;
  background-color: #b3980fcb;
  padding: 10px;
  width: fit-content;
}

.main-content .cool-fact h3 {
  margin: 0;
  margin-bottom: 6px;
}

a img {
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: #5f521575;
  text-align: center;
}