@import url('animegg.css');

header {
  animation: flash 0.5s infinite step-end;
}

/* flash animation */
@keyframes flash {
  0% {
    color: #6b5c14;
  }
  50% {
    color: #e5e100;
  }
}

body {
  background-color: #544b20;
  /* add files/img/tux.gif as a repeating background image at size 100px */
  /* it will also slowly move to the bottom right infinitely linearly */
  background-image: url('../img/tux.gif');
  background-size: 100px;
  background-repeat: repeat;
  background-attachment: fixed;
  animation: move 2.5s infinite linear;
  color: white;
  text-align: center;
  overflow-x: hidden; 
  max-width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content {
  margin: auto;
  width: 50vw;
  height: fit-content;
  margin-bottom: 200px;
}

.main-content p {
  margin: 0 0 0 0;
  font-size: 22px;
}

.main-content .content-item {
  background-color: #5f521575;
}

.main-content .content-item .graph-img {
  width: 95%;
  border-style: ridge;
  border-width: 10px;
  border-color: hotpink;
}

.main-content .content-item .graph-img:hover {
  border-color: #e5e100;
  animation: vibrate 0.4s infinite linear;
  animation-direction: alternate;
}


.main-content .graph .graph-download-button {
  width: 20vw;
}

.main-content .graph .graph-download-button img {
  width: 20vw;
  animation: download-button-swag 2s infinite cubic-bezier(.79,.14,.15,.86);
  animation-direction: alternate;
}


.main-content .graph .graph-download-button:hover {
  animation: download-button-swag 0.5s infinite linear;
  animation-direction: alternate-reverse;
}

.main-content .graph .graph-download-button img {
  width: inherit;
}

.main-content .cool-fact {
  margin: auto;
  margin-top: 20px;
  border: black 2px solid;
  border-radius: 15px;
  background-color: #b3980fcb;
  padding: 10px;
  width: fit-content;
}

.main-content .cool-fact h3 {
  margin: 0;
  margin-bottom: 6px;
}

.main-content .badges {
  max-width: 100vw;
}

a img {
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  background-color: #5f521575;
  text-align: center;
}

/* add vibrate animation to the easteregg class */
.easteregg {
  animation: vibrate2 0.1s infinite linear;
  animation-direction: alternate;
}

/* vibrate2 animation */
@keyframes vibrate2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
